.main-container {
  background-color: #f1f1f1;
  height: 100vh;
}
.navbar-homepage {
  width: 100vw;
  height: 8vh;
}
.content-container {
  background-color: #f1f1f1;
  height: 80vh;
  display: flex;
}
.filter {
  background-color: #eee2b2;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}
.checkbox-container {
  width: 6vw;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
}
.checkbox {
  margin-bottom: 1vh;
  width: 10vh;
}
.content {
  width: 85vw;
  display: flex;
  flex-direction: column;
}
.carouseldropdown-container {
  display: flex;
  padding-top: 3vh;
}
.carousel {
  width: 60vw;
  height: 10vh;
  border-radius: 2px;
  margin-left: 10vw;
}
.carousel img {
  width: 40vw;
  height: 10vh;
  border-radius: 30px;
}
.card-container {
  display: flex;
  width: 85vw;
  height: 60vh;
  margin-top: 3vh;
  padding-left: 2vw;
  padding-right: 3vw;
  margin-bottom: 3vh;
}
.card-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28vh;
}
.footer {
  background-color: #d4deeb;
  height: 12vh;
  padding-top: 4vh;
}
