h1{
    text-align: center;
}

.tambahProduk{
    margin-left: 16%;
    margin-bottom: 3%;
}

.card-cont{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    justify-content: center;

}

.card{
    width: 18rem;
    margin-left: 1vw;
    margin-bottom: 2vh;
}
